{% if remotes is defined and remotes|length > 0 %}
    {% for remote in remotes %}
        <div class="row">
            <div class="row">
                <div class="col-12">
                    <span class="rc-title">{{ remote.name }}</span>
                </div>
            </div>
            <div class="row col-12 text-center" style="width: 400px;">
                {% for command in remote.commands %}
                    <div style="padding: 10px 4px 4px 0;">
                        <div style="float: left;" class="btn btn-remote {% if command.color_class != null %}{{ command.color_class }}{% else %}btn-secondary{% endif %} rc-command" data-rc="{{ remote.id }}" data-cmd="{{ command.id }}">
                            {% if command.icon_class != null %}
                                <i class="rc-button fas {{ command.icon_class -}}"></i>
                            {% else %}
                                <span class="rc-button">{{ command.name }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if loop.last == false or (scenarios is defined and scenarios|length > 0) %}
            <div class="row">
                <hr style="border-top: 2px solid; border-color: #e0e0e0;width: 100%;">
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if scenarios is defined and scenarios|length > 0 %}
    {% for scenario in scenarios %}
        <div class="row">
            <div class="row">
                <div class="col-12">
                    <span class="rc-title">{{ scenario.name }}</span>
                </div>
            </div>
            <div class="row col-12">
                <div style="padding: 10px 4px 4px 0;">
                    <div class="btn btn-remote btn-info sc-command" data-sc="{{ scenario.id }}">
                        <i class="rc-button fas fa-bolt"></i>
                    </div>
                </div>
            </div>
        </div>
        {% if loop.last == false %}
            <div class="row">
                <hr style="border-top: 1px dashed; border-color: #5a6268;width: 100%;">
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
