{% extends 'Controller/widget/base.html.twig' %}

{% block content %}
    <div class="row" style="height: 100%;">
        <div class="col" style="background-color: #000000;min-width: 36px;padding: 8px 0 0 0;max-width: 56px;">
            <div class="row">
                <div class="col text-center">
                    <span class="btn btn-light tab-btn tab-btn-active" data-tab-id="tab-remotes">
                        <i class="fas fa-calculator"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div style="margin: 2px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <span class="btn btn-light tab-btn" data-tab-id="tab-scenarios">
                        <i class="fas fa-list-ol"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-11" style="padding: 12px 0 0 22px;">
            <div id="tab-remotes" class="tab-cnt">
                {% for remote in remotes %}
                    <div class="row">
                        <div class="row">
                            <div class="col-12">
                                <span class="rc-title">{{ remote.name }}</span>
                            </div>
                        </div>
                        <div class="row col-12">
                            {% for command in remote.commands %}
                                <div class="col-1" style="padding-top: 10px;">
                                    <div class="btn btn-remote {% if command.color_class != null %}{{ command.color_class }}{% else %}btn-secondary{% endif %} rc-command" data-rc="{{ remote.id }}" data-cmd="{{ command.id }}">
                                        {% if command.icon_class != null %}
                                            <i class="rc-button fas {{ command.icon_class -}}"></i>
                                        {% else %}
                                            <span class="rc-button">{{ command.name }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if loop.last == false %}
                        <div class="row">
                            <hr style="border-top: 2px solid; border-color: #e0e0e0;width: 100%;">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="tab-scenarios" class="tab-cnt tab-hidden">
                {% for scenario in scenarios %}
                    <div class="row">
                        <div class="row">
                            <div class="col-12">
                                <span class="rc-title">{{ scenario.name }}</span>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-1" style="padding-top: 10px;">
                                <div class="btn btn-remote btn-info sc-command" data-sc="{{ scenario.id }}">
                                        <i class="rc-button fas fa-bolt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if loop.last == false %}
                        <div class="row">
                            <hr style="border-top: 1px dashed; border-color: #5a6268;width: 100%;">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_end %}
    <script src="/js/rc.js" type="application/javascript"></script>
{% endblock %}